
/* Your CSS Code here. */

/* Your CSS Code here. */ 
#btn { background-color: black; color: white; border: none; border-radius: 5px; padding: 10px 20px; cursor: pointer; }
/* Hover effects */ 
#btn:hover { background-color: yellow; color: black; border-radius: 30px; }